<!-- #filter (start) -->
<div id="filter" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
  <div class="bd">
    <form method="get" class="form-inline">
      <span class="field">
        <label class="control-label" for="location">Country: </label>
        <select id="countries" name="countries" ui-select2="{allowClear: false, placeholder: 'Country'}" data-placeholder="Country" multiple
                ng-model="countries" ng-change="updateUsers()">
          <option value="{{country.value}}" ng-repeat="country in countryList">{{country.name}}</option>
        </select>
      </span>
      <span class="field">
        <label class="control-label" for="language">Language: </label>
        <select id="language" name="language" ui-select2="{allowClear:false, placeholder: Language}" data-placeholder="Language" multiple
                ng-model="languages" ng-change="updateUsers()">
          <option value="{{language.value}}" ng-repeat="language in languageList">{{language.name}}</option>
        </select>
      </span>
    </form>
  </div>
</div>
<!-- #filter (end) -->
