<!-- #header (start) -->
<div id="header" class="navbar navbar-inverse navbar-top" role="navigation">
  <div class="container">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <h1>
          <i class="icon-github"></i>
          <a class="brand" href="/">GitHub Ranking</a>
        </h1>
      </div>
      <div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-6">
        <div class="quote media">
          <div class="pull-right">
            <img src="images/avatar.jpg" width="35" height="35" class="quote-avatar media-objecgt img-circle">
          </div>
          <div class="media-body">
            <p>I make this just for learning AngularJS. You can fork and modify it as you wish.</p>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- #header (end) -->
