<!-- #header (start) -->
<div id="header" class="navbar navbar-inverse" ng-controller="FilterCtrl">
  <div class="navbar-inner">
      <h1>
        <a class="brand" href="/">GitHub Ranking</a>
      </h1>
  </div>
</div>
<!-- #header (end) -->
