<!-- #list (start) -->
<div id="list">
  <div class="bd">
    <ul class="clearfix center-block">
      <li id="user-{{user.id}}" ng-repeat="user in users" ng-animate="'animate'">
        <div class="user-card" ng-click="getUserProfile(user, $index + 1);">
          <div class="main">
            <a href="javascript:void(0);" data-login="{{user.login}}" data-avatar-url="{{user.avatar_url}}" target="_blank" class="img-link ng-scope">
              <img src="http://www.gravatar.com/avatar/{{user.gravatar_id}}?s=120" class="img-circle" widt="120" height="120">
            </a>
            <div class="name">
              <a href="http://github.com/{{user.login}}" data-login="{{user.login}}" target="_blank" class="name-link">{{user.login}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- #list (end) -->
