<!DOCTYPE html>
<html ng-app="githubRankApp">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="components/select2/select2.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/select2/select2.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-ui-select2/src/select2.js"></script>
    <script src="javascripts/controllers.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//cdn.ravenjs.com/1.1.11/jquery,native/raven.min.js"></script>
  </head>
  <body ng-controller="SearchCtrl">
    <div class="container">
      <%- include _header.ejs %>
      <%- include _filter.ejs %>
      <%- include _list.ejs %>
    </div>
  </body>
</html>
