@import ../components/bootstrap-sass/vendor/assets/stylesheets/bootstrap
@import compass/css3/transition

body
  background: #f3f3f3
  color: #333
  font: 14px/1.4 'Avenir Next', 'Lato', 'PT Sans','DejaVu Sans','Bitstream Vera Sans',Verdana,sans-serif
a:link, a:visited
  color: #333
ul, li
  list-style-type: none
  margin: 0
  padding: 0
h1, h2, h3, h4, h5, h6
  font-weight: 600
h1, h3, h4
  margin: 0
  padding: 0
::-moz-selection
  color: #fff
  background: rgba(#e43f7b, .8)
::selection
  color: #fff
  background: rgba(#e43f7b, .8)
body > .container
  padding: 0 0 20px
  background: #fff
  min-height: 500px

#header
  background: #343844
  padding: 10px 0 0
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7)
  margin-bottom: 0
  border-radius: 0
  text-shadow: 1px -1px 0 #aaa
  color: #eee
  h1
    font-size: 25px
  a:link, a:visited
    font-family: 'Lemon', cursive
    color: #eee
    text-decoration: none

#filter
  margin-bottom: 20px
  .bd
    padding: 10px
  &.affix
    top: 0
    background: rgba(255, 255, 255, 0.7)

@media (max-width: 767px)
  #filter
    width: 100%
    .form-group
      margin-bottom: 10px
@media (min-width: 768px)
  #filter
    width: 750px
@media (min-width: 992px)
  #filter
    width: 970px
@media (min-width: 1200px)
  #filter
    width: 1170px

#list
  ul
    text-align: center
  li
    display: inline-block
    text-align: center
    margin-bottom: 20px
    .name-link
      font-weight: bold
      display: block
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    .user-card
      width: 150px
      height: 150px
    .img-link
      display: block
      margin-bottom: 5px

#profile
  +transition()
  z-index: 1
  background: rgba(0, 0, 0, 0.8)
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
  padding: 10px
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  vertical-align: center
  .mod-content
    display: table
    position: relative
    margin: 150px auto
    background: #fff
    border-radius: 5px
    min-width: 450px
  .close-link
    position: absolute
    display: inline-block
    font-size: 16px
    font-weight: bold
    right: 10px
    top: 5px
  .bd
    padding: 30px 20px 20px
  h3
    strong
      color: #eb7600
    .login
      font-size: 12px
      font-weight: normal
      color: #999
      margin-bottom: 10px
      margin-left: 5px
  ul
    margin-bottom: 10px
  .badges
    border-top: dotted 1px #ccc
    padding-top: 10px
    span
      display: inline-block
      text-align: center
      padding: 5px
    strong
      font-size: 20px
      display: block
  span.title
    color: #666
    .icon
      width: 20px
      display: inline-block
      text-align: center
    .text
      display: none
  span.title, span.content
    display: table-cell
    padding: 2px 8px 2px 0
  .icon
    color: #999
    font-size: 15px


